[submodule "plugins/ranger-zoxide"]
	path = plugins/ranger-zoxide
	url = git@github.com:jchook/ranger-zoxide.git
[submodule "plugins/ranger-devicons2"]
	path = plugins/ranger-devicons2
	url = git@github.com:cdump/ranger-devicons2.git
